/*NAV BAR*/
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li a
{
    text-decoration: none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family :arial;
}

li a:hover:not(.active)
{
    color: white;
    text-decoration: none;
    background-color: #111;
}
li a:hover
{
    color: white;
    text-decoration: none;
}
.active
{
    text-decoration: none;
    background: #499bbf;
}
/*FORMS*/
label
{
	margin: 16px 0 0px;
  display: inline-block;
}
input[type=text], input[type=password], input[type=email]
{
	padding: 12px;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 4px;
	font-size: 14px;
}
input[type=submit]
{
  padding: 12px;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 4px;
	font-size: 18px;
}
input[type=submit]:hover
{
    box-shadow: 2px 2px 2px #888888;
}
.form-notification
{
	padding: 12px 20px;
	border-radius: 4px;
  margin: 0 0 20px;
	box-sizing: border-box;
	font-size: 18px;
	color: white;
	text-align: center;
	font-family: arial;
}
.form-container
{
  border-radius:5px;
  background-color:#f2f2f2;
  padding:20px;
  font-family:arial;
}
.greeting
{
   color: white;
   text-decoration: none;
   margin: 12px 10px;
   float: right;
}
